
body, html {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
}

.nav {
   background-color: #993366;
   width: 100%;
   position: fixed;
   margin:0;
   z-index: 2;
   border-bottom: 3px solid #6B2447;
}

.nav ul {
  list-style: none;
  background-color: #993366;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
 
.nav a:hover {
  background-color: #6B2447;
}
 
.nav a.active {
  background-color: #6B2447;
  color: #444;
  cursor: default;
}


  .nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;

  }

#outerPage {
  background-color: #e1e3e4;
  position: absolute;
  width: 100%;
}

#page {

  background-color: white; 
  border-left: 1px solid #d2d6d5;
  border-right: 1px solid #d2d6d5;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 50px;
}

#content{

  margin: 5%;
}

#top-image {
  width: 100%;
  position: relative;

}
h1 {
  font-family: 'Oswald', sans-serif;
  color: #6B2447;
  font-size: 28px;
  font-weight: 100;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #6B2447;
  font-size: 20px ;
  font-weight: 100;
  margin-top: 10px;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  color:gray;
  font-size: 16px;
  font-weight:300;
}

#button {
  position: relative;
  margin-top: 300px;
}

#step1,#step2,#step3,#step4 {
  margin-top: 3%;
  width: 100%;
}

.canvas-holder-1{
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.canvas-holder{
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}


#canvas-one {
  border-bottom: 1px solid #d2d6d5;
  background-image: linear-gradient(#5C1F3D, #993366);
  position:relative;
}

#canvas-two {
  border-bottom: 1px solid red;
  background-image: linear-gradient(#5C1F3D, red);
  position: relative;

}

#canvas-three {
  border-bottom: 1px solid #d2d6d5;
  background-image: linear-gradient(#5C1F3D, #993366);
  position:absolute;
  z-index: 1;

}

#canvas-four {
  border-bottom: 1px solid red;
  background-image: linear-gradient(#5C1F3D, red);
  position: absolute;
 
}

a.link {
  text-decoration: none;
  color:#6B2447;
  font-weight: 700;
}

.codeBoxContainer{
}

.codebox {
  background-color:#222222;
  color: white; 
  padding:20px;
  margin-top: 10px;
}

.content-image{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.content-image-keycode, .content-image-css{
  width:50%;
  margin-top: 20px;
  margin-bottom: 20px;

}


@media screen and (max-width: 870px) {
    .canvas-holder-1 {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }
    .content-image-keycode, .content-image-css{
        width: 100%;
    }
    #page {
      margin-right: 5%;
      margin-left: 5%; 
    }
}

@media screen and (max-width: 550px) {
    #page {
      margin-right: 0%;
      margin-left: 0%; 
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px ;
    }

    p{
      font-size: 20px;
    }
    .nav li {
    width: 55px;
    font-size: 1em;
  }
}
